<h1>About a Webpage </h1>

<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h2>Hey </h2>
    <p>
      This is a practice app to get more familiar with the ropes of rails .
      The idea is to get a few apps up and running, and once these are up, to start working
      on the presentation in order to make them more pallatable.
    </p>
    <p>
      Contact me through github if you have questions
    </p>
  </div>
</div>
